<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Item Calculator
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content>
 
  <ion-list>
 
    <ng-container *ngIf="!orders || orders.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
 
    <ion-item-sliding *ngFor="let item of orders">
      <ion-item lines="inset" button >
        <ion-label>
          {{ item.itemName }}
        </ion-label>
        <ion-note slot="end" color="primary">{{ item.price | currency: 'RM '}}</ion-note>
      </ion-item>
 
      <ion-item-options side="end">
        <ion-item-option (click)="remove(item)" color="secondary">
          
          <ion-icon name="trash" slot="end"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
 
  </ion-list>

  

  <ion-row>
      <ion-col>
        <div text-center>
            <ion-label position="stacked" class="total-label">Total : {{ total_sum | currency: 'RM ' }}</ion-label>
        </div>
    </ion-col>
</ion-row>

  <ion-button expand="full" color="primary" (click)="scanCode()">Scan Item</ion-button>
  <ion-button expand="full" color="danger" (click)="clearList()">Clear Item</ion-button>

  <!-- <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="scanCode()">
      <ion-icon name="qr-scanner"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="clearList()">
        <ion-icon name="trash"></ion-icon>
      </ion-fab-button>
  </ion-fab> -->
 
</ion-content>